{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="{% static 'lang-logo.png'%}">
    </a>
    <h1>Hey you, It's me your bruh</h1>
    <p>This is my first web deployed application bruh and i wanted to show you although yesma kei xna ahile
    <br>
    i wish you happy merry christmas hai bruh and hope to get a coffee soon with you.<br>
    I want you to know that i care for you and love you and will be with you always in any moments.
    just work hard and keep on smiling. that smile gives me energy and happiness to move and work ahead.
    <br><b>Thank you bruh for being with me</b></p>
  </div>
</div>

{% endblock %}
